.css-1m9128y {
  display: none !important;
}

body{
  text-align: start !important;
  font-family: "Rowdies", cursive !important;
  background-color: black !important;
  box-shadow: "0 0.0625rem 0.5rem 0 rgb(0 0 0 / 4%), 0 0.0625rem 0.3125rem 0 rgb(0 0 0 / 4%)" !important;
}
